
.color	{
	color: #fcac45;
}

.color-sec {
	color: #F2CB6E;
}

#color-tri {
	color: white;
	font-size: 4em;
}

#social {
	color: #fcac45;
	font-size: 10em;
}

.line-separator {
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	border-bottom: 2px solid #fcac45;
	padding-bottom: 15px;
}

#home {	
	background-image: url('../images/main_background.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #cfcfcf;
	height: 750px;
}

#home .overlay {
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(17%,rgba(0,0,0,0.73)), color-stop(35%,rgba(0,0,0,0.66)), color-stop(62%,rgba(0,0,0,0.55)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
	height: 750px;
	background-attachment: fixed;
	padding: 20%;
}

#about {
	background-color: #2D3139;
	color: #ffffff;
	height: 400px;
	display: block;
}

#experience {
	background-color: #2D3139;
	color: #ffffff;
	height: 50em;
	display: block;
}

#contact {
	background-image: url('../images/contact_background.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 413px;
	display: block;
	padding-top: 75px;
}

#footer {
	background-color: #2D3139;
	color: #ffffff;
	height: 50px;
	display: block;
	padding-top: 15px;
}

.navbar {
	background-color: transparent;
	border: none;
	background: none;
	box-shadow: none;
	color: white;
	z-index: 100;
	margin-bottom: 0;
	border-radius: 0;
	display: block;
	padding-right: 20px;
}

.navbar-default .navbar-nav > li > a {
	color: white;
	font-weight: 500;
	font-size: 1em;
	text-transform: uppercase;	
	padding-bottom: 0px;
}

